body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2b2d30;
  background: #c8cad4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: #f9f871;
}

img {
  max-width: 100%;
}

a {
  color: #c9f0ff;
}

.markdown-previewer {
  background: #e5e8ec;
}

.preview,
.editor {
  background: #008579;
  color: #e5e8ec;
}
